body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}


h2 {
    margin-top: 20px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
}

.checkbox-group {
    margin-left: 20px;
}

.checkbox-group label {
    display: block;
    margin-bottom: 5px;
}

button[disabled] {
    cursor: not-allowed;
    opacity: 0.6;
    pointer-events: none;
  }

.header {
   display: flex;
   width: 100%;
}

.logo-bg {
    display: block;
    margin: 0 auto;
}

li {
    color: #a5a4a4;
}

input {
    cursor: pointer;

}
